<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andrew.gitapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/joker"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Team1members">
            <intent-filter>
                <action android:name="com.example.andrew.gitapp.activities.Team1members" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Team2members">
            <intent-filter>
                <action android:name="com.example.andrew.gitapp.activities.Team2members" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Teams">
            <intent-filter>
                <action android:name="com.example.andrew.gitapp.activities.Teams" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.cointoss" />
        <activity android:name=".activities.GameMain"></activity>
    </application>

</manifest>